* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto slab", sans-serif;
}

html, body {
    height: 100%;
}

button {
    height: 40px;
    width: 100px;
    padding: 10px;

    border: 0;
    cursor: pointer;
    border-radius: 10px;
}
